@import url("https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap");
@import "tailwindcss";

* {
	font-family: "Funnel Display", sans-serif;
	scrollbar-width: thin; /* thin scrollbar */
	scrollbar-color: rgba(0, 0, 0, 0.3) transparent;
}

*::selection {
	background: #000;
	color: #fff;
}

html {
	scroll-behavior: smooth;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type="number"] {
	-moz-appearance: textfield;
}

.my-scroll {
	overflow: scroll; /* or auto */
	scrollbar-width: none; /* Firefox */
	-ms-overflow-style: none; /* IE and Edge */
}

.my-scroll::-webkit-scrollbar {
	display: none; /* Chrome, Safari and Opera */
}

.modal-content::-webkit-scrollbar {
	width: 6px;
}
.modal-content::-webkit-scrollbar-button {
	display: none;
}
.modal-content {
	scrollbar-width: thin;
}
